* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: chartreuse;
}

.fondo {
    position: absolute;
    top: 0px;
    z-index: 0;
}

.pacman {
    top: 0px;
    left: 450px;
    z-index: 1;
    height: 50px;
    position: relative;
    animation: game 5s infinite;
}

@keyframes game {
    0% {top: 0px; left: -400px; -webkit-transform: rotate(0deg);}
    10% {top: 0px; left: 450px; -webkit-transform: rotate(0deg);}
    20% {top: 100px; left: 450px; -webkit-transform: rotate(90deg);}
    25% {top: 100px; left: -280px; -webkit-transform: rotate(0deg);}
    30% {top: 300px; left: -280px; -webkit-transform: rotate(90deg);}
    40% {top: 300px; left: 20px; -webkit-transform: rotate(0deg);}
    50% {top: 100px; left: 0px; -webkit-transform: rotate(0deg);}
    55% {top: 100px; left: 250px; -webkit-transform: rotate(0deg);}
    60% {top: 550px; left: 250px; -webkit-transform: rotate(0deg);}
    65% {top: 550px; left: 400px; -webkit-transform: rotate(0deg);}
    70% {top: 600px; left: 400px; -webkit-transform: rotate(0deg);}
    75% {top: 600px; left: -400px; -webkit-transform: rotate(0deg);}

    
    
    
    
    
    

    

    
}